## Introduction to Pandas 1

_from pandas documentation_

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way toward this goal.

Good introduction here: https://pandas.pydata.org/pandas-docs/stable/10min.html#

## Demo with long-term rain data

Import modules

In [2]:
import pandas as pd

Set some variables to make our lives easier

In [3]:
excelfile = 'Input_data/DCA_longterm_hourly.xlsx'

Import data into a Series or a DataFrame

In [20]:
df = pd.read_excel(excelfile,usecols=[4,9])

check out the data

In [21]:
df.head()

             Datetime  Precip_clean
0 1948-05-01 01:00:00          0.00
1 1948-05-01 16:00:00          0.01
2 1948-05-01 17:00:00          0.02
3 1948-05-02 15:00:00          0.02
4 1948-05-02 16:00:00          0.12

In [22]:
df.describe()

       Precip_clean
count  47862.000000
mean       0.054382
std        0.109126
min        0.000000
25%        0.010000
50%        0.020000
75%        0.060000
max        3.290000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47862 entries, 0 to 47861
Data columns (total 2 columns):
Datetime        47862 non-null datetime64[ns]
Precip_clean    47862 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 747.9 KB

Total rainfall for 1990

In [24]:
df1990 = df[(df['Datetime'] > '1990-01-01') & (df['Datetime'] < '1991-01-01')]
df1990['Precip_clean'].sum()

40.840000000000003

Export results to a new excel spreadsheet

In [25]:
df1990.to_excel('Output_data/df1990.xlsx')

## Try it yourself