## Introduction to Pandas 1

_from pandas documentation_

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way toward this goal.

Good introduction here: https://pandas.pydata.org/pandas-docs/stable/10min.html#

## Demo with long-term rain data

Import modules

In [1]:
import pandas as pd

Set some variables to make our lives easier

In [2]:
excelfile = 'Input_data/DCA_longterm_hourly.xlsx'

Import data into a Series or a DataFrame

In [3]:
df = pd.read_excel(excelfile,usecols=[4,9])

check out the data

In [4]:
df.head()

             Datetime  Precip_clean
0 1948-05-01 01:00:00          0.00
1 1948-05-01 16:00:00          0.01
2 1948-05-01 17:00:00          0.02
3 1948-05-02 15:00:00          0.02
4 1948-05-02 16:00:00          0.12

In [5]:
df.describe()

       Precip_clean
count  47862.000000
mean       0.054382
std        0.109126
min        0.000000
25%        0.010000
50%        0.020000
75%        0.060000
max        3.290000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47862 entries, 0 to 47861
Data columns (total 2 columns):
Datetime        47862 non-null datetime64[ns]
Precip_clean    47862 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 747.9 KB

Total rainfall for 1990

In [7]:
df1990 = df[(df['Datetime'] > '1990-01-01') & (df['Datetime'] < '1991-01-01')]
df1990['Precip_clean'].sum()

40.840000000000003

Export results to a new excel spreadsheet

In [8]:
df1990.to_excel('Output_data/df1990.xlsx')

## Try it yourself

In [12]:
df1990.loc[:,"test"]=df1990.loc[:,"Precip_clean"]*2.+35

C:\Users\sskripnik\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [14]:
df1990["hello"] = df1990["test"] * 2.0

C:\Users\sskripnik\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df1990

                 Datetime  Precip_clean   test  hello
24181 1990-01-01 01:00:00          0.12  35.24  70.48
24182 1990-01-01 02:00:00          0.08  35.16  70.32
24183 1990-01-04 09:00:00          0.01  35.02  70.04
24184 1990-01-04 10:00:00          0.03  35.06  70.12
24185 1990-01-04 11:00:00          0.02  35.04  70.08
24186 1990-01-06 05:00:00          0.01  35.02  70.04
24187 1990-01-06 06:00:00          0.02  35.04  70.08
24188 1990-01-06 07:00:00          0.01  35.02  70.04
24189 1990-01-08 10:00:00          0.03  35.06  70.12
24190 1990-01-08 11:00:00          0.15  35.30  70.60
24191 1990-01-08 12:00:00          0.05  35.10  70.20
24192 1990-01-08 13:00:00          0.07  35.14  70.28
24193 1990-01-08 14:00:00          0.04  35.08  70.16
24194 1990-01-08 15:00:00          0.09  35.18  70.36
24195 1990-01-08 16:00:00          0.04  35.08  70.16
24196 1990-01-08 17:00:00          0.02  35.04  70.08
24197 1990-01-08 18:00:00          0.01  35.02  70.04
24198 1990-01-08 19:00:00          0.01  35.02  70.04
24199 1990-01-08 20:00:00          0.01  35.02  70.04
24200 1990-01-10 04:00:00          0.01  35.02  70.04
24201 1990-01-15 03:00:00          0.01  35.02  70.04
24202 1990-01-15 04:00:00          0.01  35.02  70.04
24203 1990-01-20 03:00:00          0.03  35.06  70.12
24204 1990-01-20 04:00:00          0.01  35.02  70.04
24205 1990-01-20 14:00:00          0.02  35.04  70.08
24206 1990-01-20 15:00:00          0.05  35.10  70.20
24207 1990-01-24 04:00:00          0.01  35.02  70.04
24208 1990-01-25 02:00:00          0.04  35.08  70.16
24209 1990-01-25 03:00:00          0.04  35.08  70.16
24210 1990-01-25 04:00:00          0.04  35.08  70.16
...                   ...           ...    ...    ...
24738 1990-12-23 10:00:00          0.01  35.02  70.04
24739 1990-12-23 16:00:00          0.01  35.02  70.04
24740 1990-12-23 17:00:00          0.10  35.20  70.40
24741 1990-12-23 18:00:00          0.03  35.06  70.12
24742 1990-12-23 19:00:00          0.04  35.08  70.16
24743 1990-12-23 21:00:00          0.01  35.02  70.04
24744 1990-12-23 22:00:00          0.01  35.02  70.04
24745 1990-12-23 23:00:00          0.02  35.04  70.08
24746 1990-12-24 00:00:00          0.02  35.04  70.08
24747 1990-12-24 01:00:00          0.01  35.02  70.04
24748 1990-12-24 06:00:00          0.66  36.32  72.64
24749 1990-12-27 17:00:00          0.04  35.08  70.16
24750 1990-12-27 18:00:00          0.08  35.16  70.32
24751 1990-12-27 19:00:00          0.04  35.08  70.16
24752 1990-12-27 20:00:00          0.04  35.08  70.16
24753 1990-12-27 21:00:00          0.04  35.08  70.16
24754 1990-12-27 22:00:00          0.09  35.18  70.36
24755 1990-12-27 23:00:00          0.05  35.10  70.20
24756 1990-12-28 00:00:00          0.04  35.08  70.16
24757 1990-12-28 01:00:00          0.07  35.14  70.28
24758 1990-12-28 02:00:00          0.15  35.30  70.60
24759 1990-12-28 03:00:00          0.13  35.26  70.52
24760 1990-12-28 04:00:00          0.10  35.20  70.40
24761 1990-12-28 05:00:00          0.07  35.14  70.28
24762 1990-12-28 06:00:00          0.02  35.04  70.08
24763 1990-12-28 07:00:00          0.01  35.02  70.04
24764 1990-12-30 22:00:00          0.29  35.58  71.16
24765 1990-12-30 23:00:00          0.01  35.02  70.04
24766 1990-12-31 00:00:00          0.01  35.02  70.04
24767 1990-12-31 01:00:00          0.01  35.02  70.04

[587 rows x 4 columns]