### Basic Python in a Jupyter Notebook

Welcome to a Jupyter Notebook - a pretty great Python editor that is interractive

Press shift+Enter to execute a cell

Try to guess what the output will be. Try playing with it, changing it, and re-executing it.

All of these examples use the standard library. No need to import any modules!

In [56]:
x = ['apple', 'orange']
print(x)

['apple', 'orange']

In [57]:
x[0]

'apple'

In [58]:
x[-1]

'orange'

In [59]:
y = ['carrot','potato']
z  = [x,y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

In [60]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])

[0, 1, 2, 3]

In [61]:
print(num[4:])

[4, 5, 6, 7, 8, 9]

In [62]:
len(num)

10

In [63]:
min(num)

0

In [64]:
max(num)

9

In [65]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

In [66]:
names = ['Earth','Air','Fire','Water']
'Fire' in names

True

In [67]:
lst = [1,1,4,8,7]
lst.append(5)
print(lst)

[1, 1, 4, 8, 7, 5]

In [68]:
a = "hello"
print(a)

hello

In [69]:
print(a+" everybody")

hello everybody

In [70]:
a = "goodnight"
"{} moon!".format(a)

'goodnight moon!'

In [71]:
a = 6.879
"The concentration is {} mg/L".format(a)

'The concentration is 6.879 mg/L'

In [72]:
x = 12
if x >10:
    print("Hello")

Hello

In [73]:
x = 12
if x > 10:
    print("hello")
else:
    print("world")

hello

In [74]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
    if x==10:
        print("x=10")
    else:
        print("invalid")
else:
    print("x=y")

x<y
x=10

In [75]:
for i in range(5):
    print(i)

0
1
2
3
4

In [76]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [77]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print(x)

1
2
3
4
5
6
7
8
9

In [79]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print(res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [80]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]